* {
  box-sizing: border-box;
}

body {
  background-color: #bfbfbf;
  color: #333333;
}

/* main page */
.jumbotron {
  background-image: url("../img/background.jpg");
  background-size: auto;
}

.jumbotron p, h1 {
  color: white;
}


/* about styles */
.container {
  margin: 0 auto;
  width: 80%;
}

.column {
  float: left;
  width: 32%;
  padding: 18px;
}

.intro {
  padding: 20px 0;
}

.skills {
  padding: 20px 48px;
}

.main-text {
  padding-top: 60px;
  clear: both;
}

#skill-list {
  margin-left: 50px;
}

/* end about */
/* typeography */

.header h1 {
  font-family: 'Merienda', cursive;
  font-weight: bold;
  font-size: 3em;
}
.header p {
  font-family: 'Merienda', cursive;
}

.intro p {
  font-size: 20px;
  font-weight: 100%;
  -webkit-margin-before: 0;
}
h2{
    font-family: 'Merienda', cursive;
}
p{
  font-family: 'Domine', serif;
}
li{
  font-family: 'Domine', serif;
}
.skills h3 {
  text-align: center;
  text-transform: uppercase;
}
