* {
  box-sizing: border-box;
}

body {
  background-color: #bfbfbf;
  color: #333333;
}
.left { float: left;
  padding-top: 28px;
 }
.right { float: right; }
/* nav */
.nav-bar {
  width: 100% !important;
  background-image: url("../img/background.jpg");
  background-size: auto;
  padding: 2% 5% 5%;
  position: fixed;
}

nav a {
  color: white;
  font-size: 130%;
}

nav a:hover {
  color: black;
  text-decoration: none;
  transition: color 600ms;
  -webkit-transition: color 600ms;
}

/* main page */


/* about styles */
.container {
  margin: 0 auto;
  width: 80%;
}

.column {
  float: left;
  width: 32%;
  padding: 18px;
}

.intro {
  padding: 20px 0;
}

.skills {
  padding: 20px 48px;
}

.main-text {
  padding-top: 60px;
  clear: both;
}

#skill-list {
  margin-left: 50px;
}

/* end about */
/* typeography */

.left h1 {
  font-family: 'Merienda', cursive;
  font-weight: bold;
  font-size: 3em;
  color: white;
}
.left p {
  font-family: 'Merienda', cursive;
  color: white;
}

.intro p {
  font-size: 20px;
  font-weight: 100%;
  -webkit-margin-before: 0;
}
h2{
    font-family: 'Merienda', cursive;
}
p{
  font-family: 'Domine', serif;
}
li{
  font-family: 'Domine', serif;
}
.skills h3 {
  text-align: center;
  text-transform: uppercase;
}
a{
  color: white;
  font-size: 130%;
}

a:hover {
  color: black;
  text-decoration: none;
  transition: color 600ms;
  -webkit-transition: color 600ms;
}
