// vars
$primery: #d9d9d9;
$second: #333333;
$third: #5f2ab5;
$patten-img: "../img/background.jpg";
$fancy: 'Merienda', cursive;
$simple: 'Domine', serif;
// main page
* {
  box-sizing: border-box;
}

body {
  background-color: $primery;
  color: $second;
}

.nav-bar {
  width: 100% !important;
  background-image: url($patten-img);
  background-size: auto;
  padding: 1% 5% 5%;
  height: 150px;

  a {
    color: white;
    font-size: 130%;
    padding: 5px;

    a:hover {
      color: $third;
      text-decoration: none;
      transition: color 600ms;
      -webkit-transition: color 600ms;
    }
  }
}

.left {
  float: left;
  padding-top: 28px;

  h1 {
    font-family: 'Merienda', cursive;
    font-weight: bold;
    font-size: 3em;
    color: white;
  }

  p {
    font-family: 'Merienda', cursive;
    color: white;
  }
}

.right {
  float: right;
}

.container {
  margin: 10px auto;
  width: 80%;

  .intro {
    padding: 20px 0;
    text-align: center;
    margin-top: 95px;

    p {
      font-size: 20px;
      font-weight: 100%;
      -webkit-margin-before: 0;
    }
  }

  .skill {
    text-align: center;
    padding: 20px 48px;

    h3 {
      text-align: center;
      text-transform: uppercase;
    }
  }

  .img-of-me {
    border-radius: 17px;
    margin-left: 16px;
  }
}

.main-text {
  padding-top: 10px;
  clear: both;
  margin: 0 63px;
}

h2 {
  font-family: $fancy;
}

p {
  font-family: $simple;
}

li {
  font-family: $simple;
}
