* {
  box-sizing: border-box;
}

body {
  background-color: #d9d9d9;
  color: #333333;
}

.left {
  float: left;
  padding-top: 28px;
}

.right {
  float: right;
}

/* nav */
.nav-bar {
  width: 100% !important;
  background-image: url("../img/background.jpg");
  background-size: auto;
  padding: 2% 5% 5%;
  height: 182px;
}

nav a {
  color: white;
  font-size: 130%;
}

nav a:hover {
  color: black;
  text-decoration: none;
  transition: color 600ms;
  -webkit-transition: color 600ms;
}

/* main page */
/* about styles */
.container {
  margin: 10px auto;
  width: 80%;
}

.column {
  display: flex;
  flex-direction: row;
}

.intro {
  padding: 20px 0;
  text-align: center;
  margin-top: 95px;
}
.skill{
  text-align: center;
}
.skills {
  padding: 20px 48px;
}

.main-text {
  padding-top: 60px;
  clear: both;
  margin: 0 63px;
}

.img-of-me{
  border-radius: 17px;
  margin-left: 16px;
}
/* end about */
/* typeography */
.left h1 {
  font-family: 'Merienda', cursive;
  font-weight: bold;
  font-size: 3em;
  color: white;
}

.left p {
  font-family: 'Merienda', cursive;
  color: white;
}

.intro p {
  font-size: 20px;
  font-weight: 100%;
  -webkit-margin-before: 0;
}

h2 {
  font-family: 'Merienda', cursive;
}

p {
  font-family: 'Domine', serif;
}

li {
  font-family: 'Domine', serif;
}

.skills h3 {
  text-align: center;
  text-transform: uppercase;
}

a {
  color: white;
  font-size: 130%;
  padding: 5px;
}

a:hover {
  color: black;
  text-decoration: none;
  transition: color 600ms;
  -webkit-transition: color 600ms;
}
